
h1{
    color: pink;
    background-color: yellow;

}

table,
 td,
  th {
    border: solid black;
    width: 10px;
}
.Dotted{
    border-style: dotted;
}
.Sent{
    border-style: dotted;
}
.seen{
    border-style: dotted;
}
    .Nike{
        border-style:dashed;
    }
    .Addidas{
        border-style:dashed;
    }
.Puma{
    border-style: dashed;
}




    
